header{
    width: 100vw;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-color);
    height: 70px;
    border-bottom-right-radius: 4%;
}

.Navbar__logo{
    margin: 10px auto;
}

.Navbar__logo img{
    width: 70px;
    margin-left: 10px;
}

.Navbar__btn{
    color: var(--white-color);
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
}

.Navbar__menu{
    position: fixed;
    width: 100%;
    top:70px;
    background: linear-gradient(180deg, rgba(3,4,36,1) 5%, rgba(8,8,36,0.44861694677871145) 36%, rgba(242, 174, 48, 0.575) 83%);
    text-align: center;
    transition:0.3s ease;
    z-index: 100;
}

.Navbar__menu li{
    display: none;
    margin: 50px 0;
    list-style: none;
    transition:0.3s ease;
}

.item{
    margin:  35px;
    color: var(--white-color);
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
}

.item:hover{
    color:var(--yellow-color);
    text-shadow: 2px 2px 5px var(--yellow-color);
}

#Navbar__check{
    display: none;
}

#Navbar__check:checked ~ .Navbar__menu{
    height: calc(100%-70px);
}

#Navbar__check:checked ~ .Navbar__menu li{
    display: block;
}



@media screen and (min-width: 768px){
    
}
@media screen and (min-width: 1024px){
    nav{
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: flex-end;
    }
    
    .Navbar__logo{
        margin: 5px  0 0 50px;
    }

    .Navbar__logo img{
        width: 90px;
    }

    .Navbar__btn{
        display: none;
        position: relative;
    }
    
    #Navbar__check{
        display:none;
    }

    .Navbar__menu{
        display: flex;
        position: relative;
        height: 70px;
        top:0;
        background: none;
        text-align: center;
        transition:none;
        margin-left: 100px;
        text-align: right;
        align-items: center;
}
    
    .Navbar__menu li{
        display: inline-block;
        flex-direction: row;
        margin: 0;
        padding: 0;
        list-style: none;
        transition:0.3s ease;
    }
}
@media screen and (min-width: 1200px){
    nav{
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: flex-end;
    }
    
    .Navbar__logo{
        margin: 5px  0 0 100px;
    }

    .Navbar__logo img{
        width: 90px;
    }

    .Navbar__menu{
        margin-left:550px;
        text-align: right;
        align-items: center;
}
}
