.jobs{
    border: 3px solid var(--yellow-color);
    width: 300px;
    color: var(--white-color);
    margin: 20px auto;
}

.jobs a{
text-decoration: none;
}

.jobs__title, .jobs__btn{
    background-color: var(--yellow-color);
    text-align: center;
}

.jobs__info{
    background-color: var(--ligthpurple-color);
    text-align: center;
}